.card {
  margin-top: 4rem;
}

#card {
  display: flex;
  align-items: center;
}

#card .body {
  margin-top: 2.5rem;
  width: 14rem;
  height: auto;
  background: white;
  border: #544f4f30 0.1rem solid;
}

#card .category {
  width: 100%;
  text-align: end;
}

#card .category span {
  background: #eb7775;
  display: inline-block;
  padding: 0.3rem 0.4rem;
  color: white;
  margin: 0.6rem 0.6rem 0 0;
}

#card .img-card {
  width: 100%;
  text-align: center;
  padding: 1.5rem 0;
}

#card .description {
  text-align: center;
  padding-bottom: 1rem;
  line-height: 1.2rem;
}
