#form-product .container-form {
  text-align: center;
  background: white;
  width: 47.7rem;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 5rem 0px;
  border: solid 1px #848a897a;
}

#form-product form {
  display: grid;
  grid-gap: 1.5rem;
}

#form-product form input {
  width: 25rem;
  height: 2rem;
  border: 0;
  border-bottom: 3px solid var(--primary-color);
  font-size: var(--title-font);
  text-transform: lowercase;
}

#form-product form input:focus {
  outline: none !important;
  box-shadow: 0 0 2px #969898;
}

#form-product p {
  padding: 1rem;
}

#form-product .close {
  position: absolute;
  top: 1.7rem;
  right: 0;
  margin-right: 2.2rem;
  font-size: 1.4rem;
}

@media (max-width: 780px) {
  #form-product .container-form {
    width: 21rem;
  }

  #form-product form input {
    width: 17rem;
  }
}
