body {
  background: var(--body-color);
  height: 100%;
}

a {
  text-decoration: none;
}

.container {
  margin-left: 3.5rem;
  margin-right: 3.5rem;
}

.title {
  font-weight: 600;
  font-family: var(--text-font);
}

.text {
  font-weight: 300;
  font-family: var(--text-font);
}

.text-descrition {
  font: 300 var(--text-font);
}

.button-add {
  width: 14rem;
  text-align: center;
}

.button-add .toogle {
  color: var(--body-color);
  background: var(--primary-color);
  padding: 1rem;
  border-radius: 6.5rem;
  display: inline-block;
}

button {
  background: #eb7775;
  border: 0;
  color: white;
  padding: 0.7rem 2rem;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background: #b96564;
}

.grid {
  display: grid;
}

.icon-arrow-left {
  color: #b96564;
  font-size: 1.5rem;
}

@media (max-width: 780px) {
  .container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}
